<div class="table-responsive">
  <table class="table table-full-width">
    <thead>
      <tr>
        <th scope="col" *ngFor="let column of columnsToDisplay">{{ column | titlecase }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let table of tables">
        <tr>
          <td
            *ngFor="let property of table | propertiesArray"
            [routerLink]="table['name']"
            class="table-row"
          >{{ property.value }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
