<div class="mb-2">
  <mat-slide-toggle
    #slider
    [matTooltip] ="slider.checked ? 'Toggle the view to table' : 'Toggle the view to cards'"
    [matTooltipPosition]="'below'"
    aria-label="Button that displays a tooltip in various positions">Card View</mat-slide-toggle>
</div>

<pgnav-ui-table-view-list *ngIf="!slider.checked" [data]="tableData$ | async" [definitions]="tableDefinitions"></pgnav-ui-table-view-list>
<pgnav-ui-table-view-cards *ngIf="slider.checked" [data]="tableData$ | async"></pgnav-ui-table-view-cards>
