<pgnav-ui-table-search #search></pgnav-ui-table-search>

<mat-toolbar color="primary" >
  <mat-toolbar-row>
    <span>{{ tableName | titlecase }} data</span>
    <span class="toolbar-spacer"></span>
    <mat-icon
      class="toolbar-icon"
      aria-hidden="false"
      aria-label="Tolbar heart icon"
      routerLink="/"
      [matTooltip]="'Go back to overvied page'"
      [matTooltipPosition]="'below'"
      >home</mat-icon
    >
    <mat-icon
      class="toolbar-icon"
      aria-hidden="false"
      aria-label="Tolbar heart icon"
      [matTooltip]="'Insert a new entry'"
      [matTooltipPosition]="'below'"
      (click)="openAddEntryDialog()"
      >add</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" *ngFor="let column of columnsToDisplay">
          <mat-icon *ngIf="isPrimary(column)" matBadge="PK" matBadgeSize="small" matBadgeColor="warn" matBadgePosition="above after"></mat-icon>
          <span>{{ column | titlecase }}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let entity of data | tablesearch:search.value">
        <tr>
          <td
            *ngFor="let property of entity | propertiesArray"
            (click)="openViewRefsDialog(property.key, property.value)"
            [class]="getTableCellClass(property.key)">{{ property.value }}</td>
        </tr>
      </ng-container>

    </tbody>
  </table>
</div>
