<mat-form-field class="mt-5">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Type to search">
</mat-form-field>

<mat-toolbar color="primary" >
  <mat-toolbar-row>
    <span>{{ tableName | titlecase }} data</span>
    <span class="toolbar-spacer"></span>
    <mat-icon
      class="toolbar-icon"
      aria-hidden="false"
      aria-label="Tolbar heart icon"
      routerLink="/"
      [matTooltip]="'Go back to overvied page'"
      [matTooltipPosition]="'below'"
      >home</mat-icon
    >
    <mat-icon
      class="toolbar-icon"
      aria-hidden="false"
      aria-label="Tolbar heart icon"
      [matTooltip]="'Insert a new entry'"
      [matTooltipPosition]="'below'"
      (click)="openAddEntryDialog()"
      >add</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>

<table #table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header>{{ column }}
    </th>
    <td
      class="table-cell"
      mat-cell
      *matCellDef="let element"
      (click)="openViewRefsDialog(column, element[column])"
    >
      {{ element[column] }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: columnsToDisplay"
    class="table-row"
  ></tr>
</table>
