<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ tableName | titlecase }} data</span>
    <span class="toolbar-spacer"></span>
    <mat-icon
      class="toolbar-icon"
      aria-hidden="false"
      aria-label="Tolbar heart icon"
      routerLink="/"
      [matTooltip]="'Go back to overvied page'"
      [matTooltipPosition]="'below'"
      >home</mat-icon
    >
    <mat-icon
      class="toolbar-icon"
      aria-hidden="false"
      aria-label="Tolbar heart icon"
      [matTooltip]="'Insert a new entry'"
      [matTooltipPosition]="'below'"
      (click)="openDialog()"
      >add</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>

<table #table mat-table [dataSource]="tableData" matSort class="mat-elevation-z8">
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
    <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr
    mat-row
    *matRowDef="let table; columns: columnsToDisplay"
    class="table-row"
  ></tr>
</table>
