<ng-container *ngIf="refsFrom && refsFrom.length > 0">
  <h3>Tables that {{ currentTable }} is referenced from</h3>

  <div class="cards-wrapper">
    <mat-card
      *ngFor="let ref of refsFrom"
      class="table-card mx-2 my-2"
      [routerLink]="['/', ref.table]"
      [matTooltip] ="'See details of ' + ref.table"
      [matTooltipPosition]="'below'"
      aria-label="Button that displays a tooltip in various positions">
      <mat-card-header>
        <mat-card-title>{{ ref.table }}</mat-card-title>
        <mat-card-subtitle>{{ ref.database }} </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</ng-container>

<ng-container *ngIf="refsTo && refsTo.length > 0">
  <h3>Tables that {{ currentTable }} is referencing</h3>

  <div class="cards-wrapper">
    <mat-card
      *ngFor="let ref of refsTo"
      class="table-card mx-2 my-2"
      [routerLink]="['/', ref.table]"
      [matTooltip] ="'See details of ' + ref.table"
      [matTooltipPosition]="'below'"
      aria-label="Button that displays a tooltip in various positions">
      <mat-card-header>
        <mat-card-title>{{ ref.table }}</mat-card-title>
        <mat-card-subtitle>{{ ref.database }} </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</ng-container>
